<div class="general_page">
  <h1>Тарифный агрегатор</h1>
  <div class="d-flex">
      <div class="active_filter">
      <h3>Фильтрация</h3>
      <div class="filter">
        <div>
          <p>{{"По названию"}}</p>
          <kendo-textbox type="text" [(ngModel)]="nameValue"></kendo-textbox>
        </div>
        <div>
          <p>{{"По оператору"}}</p>
          <div *ngFor="let oper of operators" class="d-flex justify-content filter_oper">
            <kendo-label
              class="k-checkbox-label"
              [for]="notification"
              [text]="oper.name"
            ></kendo-label>
            <input type="checkbox" #notification kendoCheckBox [(ngModel)]="oper.check"/>
          </div>
        </div>
        <div>
          <p>{{"По цене от " + costValue[0] + " до " + costValue[1]}}</p>
          <kendo-rangeslider
            [(ngModel)]="costValue"
            [min]="minimumValue.cost[0]"
            [max]="minimumValue.cost[1]"
            [tickPlacement]="'none'"
          ></kendo-rangeslider>
        </div>
        <div>
          <p>{{"По количеству минут от " + minValue[0] + " до " + minValue[1]}}</p>
          <kendo-rangeslider
            [(ngModel)]="minValue"
            [min]="minimumValue.min[0]"
            [max]="minimumValue.min[1]"
            [tickPlacement]="'none'"
          ></kendo-rangeslider>
        </div>
        <div>
          <p>{{"По количеству гигов от " + gbValue[0] + " до " + gbValue[1]}}</p>
          <kendo-rangeslider
            [(ngModel)]="gbValue"
            [min]="minimumValue.gb[0]"
            [max]="minimumValue.gb[1]"
            [tickPlacement]="'none'"
          ></kendo-rangeslider>
          <kendo-label
          class="k-checkbox-label"
          [for]="notification"
          [text]="noLimited"
        ></kendo-label>
        <input type="checkbox" #notification kendoCheckBox [(ngModel)]="limitInternet"/>
        </div>
      </div>
      <button (click)="filter()">Применить фильтры</button>
      <button (click)="dropFilter()">Сбросить фильтры</button>
    </div>
    <div class="list_of_tariffs">
      <div class="info_about_tariff" *ngFor="let tariff of filteringListTariff">
        <div class="text_info">
          <h3><b>{{tariff.tariffName}}</b></h3>
          <p>{{"Цена: " + tariff.cost + " руб."}}</p>
          <p>{{"Минуты: " + tariff.minutes}}</p>
          <p *ngIf="tariff.gb === noLimited">{{"Интернет: " + tariff.gb}}</p>
          <p *ngIf="tariff.gb !== noLimited">{{"Интернет: " + tariff.gb + " Гб"}}</p>
        </div>
        <div class="img_info">
          <img src="assets/img/{{tariff.provider}}.png">
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>